<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinRT.GraphicsCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<userSettings>
        <WinRT.GraphicsCapture.Properties.Settings>
                <setting name="chkMir0" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="chkMir1" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="chkMir2" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="txtCode" serializeAs="String">
                        <value/>
                </setting>
                <setting name="txtName" serializeAs="String">
                        <value/>
                </setting>
                <setting name="RunOnWindows" serializeAs="String">
                        <value>False</value>
                </setting>
        </WinRT.GraphicsCapture.Properties.Settings>
    </userSettings>
</configuration>
